# Copyright 2025 Jaehee Kwon <jaehee.kwon@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config IS31FL3731
	bool "IS31FL3731 LED driver"
	default y
	depends on DT_HAS_ISSI_IS31FL3731_ENABLED
	select I2C
	help
	  Enable LED driver for IS31FL3731.
	  IS31FL3731 is a matrix LED driver, capable of a maximum of 3.29 mA
	  per LED, or 42 mA total across all LEDs in the 12x16 dot matrix.
	  TODO fix help string
